@page
@model TeamAlpha.Pages.Phases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.Progress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.Progress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.Project.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Phase.PhaseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
