@page
@model TeamAlpha.Pages.Contractors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contractor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor[0].Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor[0].ExperienceYears)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contractor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceYears)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ContractorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContractorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContractorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
