@page
@model TeamAlpha.Pages.Phases.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Phase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PhaseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PhaseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PhaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
